.pannel {
    margin: 0;
}

.tabbar-list {
    border-bottom: 5px solid #EFEDEE;
    font-size: 14px;
}

.tabbar-list td {
    text-align: center;
    border-bottom: 1px solid #eee;
    width: 25%;
}

.tabbar-list td:not(:nth-child(1)) {
    border-left: 1px solid #eee;
}

.tabbar-list td.selected {
    background-color: #03A657;
    color: white;
}

.tabbar-list > span {
    display: inline-block;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    padding: 10px 15px;
}

.item-content.goods-list {
    padding: 15px 20px;
    font-size: 14px;
    color: #000;
}

.item-content.goods-list > div {
    border-bottom: 1px solid #eee;
    position: relative;
    padding-top: 4px;
    line-height: 22px;
}

.item-content.goods-list .icon-more {
    transform: rotate(0);
    position: absolute;
    right: 0;
    font-weight: bolder;
    font-size: 16px;
}

.item-content.goods-list span {
    color: #999;
}

.item-content .product-item {
    width: 50%;
    display: inline-block;
    padding: 10px 15px;
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    line-height: 24px;
}

.item-content .product-item h4.item-title {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
}

.item-content .product-item:nth-child(even) {
    border-left: 1px solid #eee;
}

.item-company {
    font-size: 12px;
}
