.goods-detail {
    font-size: 14px;
    margin-top: 0 !important;
    margin-bottom: 40px;
}

.fixedTop {
    position: fixed;
    top: 0;
    z-index: 13;
}

.goods-summary {
    position: relative;
}

.banner-img {
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 150px;
    display: inline-block;
    vertical-align: top;
}

.divide {
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.goods-price {
    height: 80px;
    padding: 10px 20px;
    box-sizing: border-box;
}

.goods-selecetor {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    box-sizing: border-box;
    color: #000;

}

.goods-selecetor span {
    width: 85%;
    margin-left: 10px;
    display: inline-block;
}

.goods-selecetor .icon-more {
    transform: rotate(0);
    font-size: 18px;
    color: #ccc;
}

.goods-info {
    padding: 20px;
    color: #000;
    line-height: 28px;
}

.goods-info p > span {
    color: #999999;
}

.footer .btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 13;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footer .btn-group button {
    height: 40px;
    line-height: 40px;
    border: none;
    color: #ffffff;
}

.model {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    background-color: #000;
    opacity: .3;
}

.specification .content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background-color: #fff;
    height: 300px;
    padding: 15px 20px;

}

.specification .selected {
    position: relative;
}

.specification .selected > div {
    display: inline-block;
    vertical-align: top;
}

.specification .logo {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    background: url("../../assets/logo_01.png") no-repeat;
    background-size: contain;
}

.specification .selected-info {
    margin-left: 40px;
    font-size: 14px;
    line-height: 22px;
}

.specification .close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.specification .close-btn i {
    font-size: 28px;
}

.specifications-btn {
    border-radius: 4px;
    border: none;
    padding: 10px 8px;
    outline: none;
    margin-top: 20px;
    margin-right: 10px;
}

.specifications-btn.current {
    background-color: #03A657;
    color: white;
}

.specification .amount-btn {
    font-size: 16px;
    margin: 0 10px;
    padding: 5px 14px;
    background-color: #eee;
}

.specification .amount-btn.current {
    background-color: #ccc;
}

.footer{
    z-index: 14;

}
.confirm-btn {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    border: none;
    height: 40px;
    background-color: #03A657;
    color: #fff;
}
