.person-container{
    margin: 0!important;
}
.header-container{
    height: 180px;
    overflow: hidden;
    background-color: #03A657;
    color: #ffffff;
    text-align: center;
}
.header-container .icon-fanhui{
    position: absolute;
    left: 10px;
    top: 20px;
}
.head{
    margin-top: 40px;
}
.icon-touxiang2{
    font-size: 80px;
}
.item-list{
    text-align: center;
    padding: 10px;
    font-size: 14px;
    white-space:nowrap;
}
.item-list .cart{
    height: 80px;
    margin-top: 20px;
}
.item-list .cart p{
    margin-top: 15px;
}
.item-list .list-icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    border-radius: 50%;
    margin:0 10px 0 15px;
    background-repeat:no-repeat;
    background-size: contain;
}
.item-list .iconfont{
    font-size: 24px;
}
.item-list .list-icon.xin{
    background-image: url("../../assets/nav_01.gif");
}
.item-list .list-icon.chanpin{
    background-color: #00B971;
}
.item-list .list-icon.gouwuche{
    background-color: #00A5EA;
}
.item-list .list-icon.dingdan{
    background-color: #f97433;
}
.item-list .list-icon.dingdanc{
    background-color: #FB00A7;
}
.item-list .list-icon.baojia{
    background-image: url("../../assets/nav_02.gif");
}
.item-list .list-icon.xiangmu{
    background-image: url("../../assets/nav_03.gif");
}
.item-list .list-icon.waimao{
    background-image: url("../../assets/nav_04.gif");
}
.item-list .list-icon.jiance{
    background-image: url("../../assets/nav_05.png");
}
.item-list .list-icon.jishu{
    background-image: url("../../assets/nav_06.gif");
}
.item-list .list-icon.piwen{
    background-image: url("../../assets/nav_07.gif");
}
.item-list .list-icon .iconfont::before{
    color: white;
}
.logout{
    width: 200px;
    position: fixed;
    bottom: 15px;
    background-color: #df5000;
    color: #ffffff;
    margin-left: 50%;
    transform: translate(-50%);
    padding: 5px 10px;
    border-radius: 4px;
}
