.list-item {
    padding: 10px 20px;
    position: relative;
    font-size: 14px;
}

.list-item .status {
    position: absolute;
    right: -44px;
    top: 14px;
    width: 100px;
    font-size: 14px;
    transform: rotate(45deg);
    background-color: #03A657;
    color: white;
    text-align: center;
    padding: 5px 20px;
}

.list-item .ck-btn {
    color: #03A657;
    display: inline-block;
    margin-left: 40px;
}

.list-item .item-footer {
    border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 8px;
}

.list-item .bj-btn {
    display: inline-block;
    border: 1px solid #03A657;
    border-radius: 4px;
    color: #03A657;
    padding: 2px 4px;
    float: right;
}
